<!-- Toolbar -->
<div class="toolbar1" role="banner">
    <div class="row w-100">
        <div class="col-2 text-center center top-0">
            <div class="w-100">
                <img width="100" alt="Angular Logo" src="../../../assets/img/logo.png" />
                <span style="width: 91px;">Tiny Towns</span>
            </div>
        </div>
        <div class="col-8">
            <div>
                <div *ngIf="seleccionadas.length > 0" class="d-flex justify-content-center align-content-center">
                    <div *ngFor="let item of seleccionadas">
                        <img class="card-img-top btn-image-header " [src]="item.img" alt="Card image cap"
                            style='width:101px;margin-right: 10px;'>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 center">
            <div *ngIf="seleccionadas.length == 1">
                <Button class="btn" (click)="modalEdificios(edificios)">
                    <img alt='reset' src="../../../assets/martillo.png" width="130" />
                    <p class="text-white font-weight-bold"> Arma tu baraja</p>
                </Button>
            </div>
            <div *ngIf="seleccionadas.length > 1">
                <a class='btn btn-outline-info text-white ' target="_blank" href="../../../assets/Tiny_Towns.pdf">
                    manual</a>
            </div>
        </div>
    </div>
</div>

<div class="main-container text-center  ">
    <div class="row margin">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mt-5">
            <div>
                <div class="col-12 animated flip"
                    style="height: 122px; display: flex; justify-content: center; align-items: center; font-size: 16px; color: white;"
                    class="letrero">
                    <p>Selecciona un material:<br>
                        <b *ngIf="material === 1">Madera</b>
                        <b *ngIf="material === 2">Trigo</b>
                        <b *ngIf="material === 3">Ladrillo</b>
                        <b *ngIf="material === 4">Vidrio</b>
                        <b *ngIf="material === 5">Piedra</b>
                    </p>
                </div>
                <div class="row">
                    <div class="col-4 col-md-3 col-lg-12 col-xl-12 animated flip " style="cursor: pointer;">
                        <div *ngIf="material1 === 1" (click)="obtenermaterial(1,material1)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/madera.png" />
                        </div>
                        <div *ngIf="material1 === 2" (click)="obtenermaterial(1,material1)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Trigo.png" />
                        </div>
                        <div *ngIf="material1 === 3" (click)="obtenermaterial(1,material1)">
                            <img alt='material' class='img-material'
                                src="../../../assets/img/Materiales/Ladrillo.png" />
                        </div>
                        <div *ngIf="material1 === 4" (click)="obtenermaterial(1,material1)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Vidrio.png" />
                        </div>
                        <div *ngIf="material1 === 5" (click)="obtenermaterial(1,material1)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Piedra.png" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-12 col-xl-12 animated flip " style="cursor: pointer;">
                        <div *ngIf="material2 === 1" (click)="obtenermaterial(2,material2)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/madera.png" />
                        </div>
                        <div *ngIf="material2 === 2" (click)="obtenermaterial(2,material2)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Trigo.png" />
                        </div>
                        <div *ngIf="material2 === 3" (click)="obtenermaterial(2,material2)">
                            <img alt='material' class='img-material'
                                src="../../../assets/img/Materiales/Ladrillo.png" />
                        </div>
                        <div *ngIf="material2 === 4" (click)="obtenermaterial(2,material2)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Vidrio.png" />
                        </div>
                        <div *ngIf="material2 === 5" (click)="obtenermaterial(2,material2)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Piedra.png" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-12 col-xl-12 animated flip " style="cursor: pointer;">
                        <div *ngIf="material3 === 1" (click)="obtenermaterial(3,material3)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/madera.png" />
                        </div>
                        <div *ngIf="material3 === 2" (click)="obtenermaterial(3,material3)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Trigo.png" />
                        </div>
                        <div *ngIf="material3 === 3" (click)="obtenermaterial(3,material3)">
                            <img alt='material' class='img-material'
                                src="../../../assets/img/Materiales/Ladrillo.png" />
                        </div>
                        <div *ngIf="material3 === 4" (click)="obtenermaterial(3,material3)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Vidrio.png" />
                        </div>
                        <div *ngIf="material3 === 5" (click)="obtenermaterial(3,material3)">
                            <img alt='material' class='img-material' src="../../../assets/img/Materiales/Piedra.png" />
                        </div>
                    </div>
                    <div class="col-4 col-md-3 col-lg-12 col-xl-12 pt-3" style="cursor: pointer;">
                        <Button class="btn" [disabled]="btnreset" (click)="lanzardados()">
                            <img alt='reset' class="reset" src="../../../assets/reset.png" />
                        </Button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 border-padre animated flip mt-5">
            <div class="row">
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(A1)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn" (click)="onclick(1,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(A2)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn2" (click)="onclick(2,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(A3)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn3" (click)="onclick(3,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(A4)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn4" (click)="onclick(4,material)"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(B1)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn5" (click)="onclick(5,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(B2)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn6" (click)="onclick(6,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(B3)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn7" (click)="onclick(7,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(B4)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn8" (click)="onclick(8,material)"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(C1)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn9" (click)="onclick(9,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(C2)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn10" (click)="onclick(10,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(C3)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn11" (click)="onclick(11,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(C4)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn12" (click)="onclick(12,material)"></button>
                </div>
            </div>
            <div class="row">
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(D1)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn13" (click)="onclick(13,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(D2)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn14" (click)="onclick(14,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(D3)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn15" (click)="onclick(15,material)"></button>
                </div>
                <div class="col-3 h-col center celda p-1">
                    <button [ngStyle]="{'background-image': getImage(D4)}" class="btn btn-fondo btn-area btn-image"
                        [disabled]="btn16" (click)="onclick(16,material)"></button>
                </div>
            </div>
        </div>
        <div *ngIf="seleccionadas.length == 7" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2  h-100 mt-5"
            style="cursor: pointer;">
            <div class="col-12 info" (click)="modalEdificios(edificios)">
                <img alt='info' src="../../../assets/info.gif" width="132px" />
            </div>
        </div>
    </div>
</div>
<!-- <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
        d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
        transform="translate(142.69 -634.312)" fill="#eee" />
</svg> -->


<ng-template #casa let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">"¿Deseas construir este edificio?"</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="height:251px">
        <button [ngStyle]="{'background-image': getImage(porconstruir)}"
            class="btn btn-fondo btn-area btn-image"></button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click');closemodal()">Si</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click');">No</button>

    </div>
</ng-template>

<ng-template #edificios let-modal style="max-width: 1554px;" class="modal-image">
    <div class="modal-header">
        <div class="row w-100">
            <div class="col-1">
                <img alt='foto' src="../../../assets/img/logo.png" width="60" />
            </div>
            <div class="col" style="font-size: 20px;font-weight: 700;padding: 7px;">
                <p>Click en la imagen para ver su descripción</p>
            </div>
            <div class="col">
                <button *ngIf="seleccionadas.length == 7" type="button" class="close" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body" style="height: 850px;" *ngIf="imagenes.length > 0">
        <div class="row modal-scroll">
            <div class=" m-2 center" *ngFor="let item of imagenes" style="width: 200px;">
                <button class='btn' ngbPopover={{item.description}} popoverTitle={{item.text}}
                    triggers="mouseenter:mouseleave" (click)="ingresarSeleccion(item)">
                    <img class="card-img-top" [src]="item.img" alt="Card image cap" style='width:125px;'>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body" style="height: 100%;" *ngIf="seleccionadas.length > 0">
        <div class="row modal-scroll2">
            <div class=" m-2 center" *ngFor="let item of seleccionadas" style="width: 200px;">
                <button class='btn' ngbPopover={{item.description}} popoverTitle={{item.text}}
                    triggers="mouseenter:mouseleave">
                    <img class="card-img-top" [src]="item.img" alt="Card image cap" style='width:125px;'>
                </button>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #repetidos let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Selecciona un edificio:</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row ">
            <div class="col">
                Si terminaste el juego checa la puntuacion en base a este Manual

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="modal.close('Save click');closemodal();closemodalConstruirIguales(porconstruir) ">Aceptar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close('Save click');">Cancelar</button>
    </div>
</ng-template>