<div>
    <!-- Toolbar -->
    <div class="toolbar" role="banner">
        <img width="60" alt="Angular Logo" src="../../../assets/img/logo.png" />
        <span style="width: 81px;">Tiny Towns</span>
        <div class="spacer"></div>
        <div class="w-100 text-center">
            <Button class="btn btn-success" (click)="lanzardados()">Lanzar Dado</Button>
        </div>
    </div>
<div style="background-color: aqua;">
    <div class="container text-center pos-contain">
        <div style="height: 100px;">
            <p>Selecciona un material:
                <b *ngIf="material === 1">Madera</b>
                <b *ngIf="material === 2">Trigo</b>
                <b *ngIf="material === 3">Ladrillo</b>
                <b *ngIf="material === 4">Vidrio</b>
                <b *ngIf="material === 5">Piedra</b>
            </p>
            <div *ngIf="material === 1" style="height: 30px;width: 30px;background: chocolate;">
            </div>
            <div *ngIf="material === 2" style="height: 30px;width: 30px;background: yellow;">
            </div>
            <div *ngIf="material === 3" style="height: 30px;width: 30px;background: red;">
            </div>
            <div *ngIf="material === 4" style="height: 30px;width: 30px;background: aqua;">
            </div>
            <div *ngIf="material === 5" style="height: 30px;width: 30px;background: gray;">
            </div>
        </div>
        <div class="row">
            <div class="col-3 h-col center borde " (click)="onclick(1,material)">
                <div class="celda" *ngIf="A1 == 1" style="background-color: chocolate; ">
                    <div class="bg-green h-30 ">
                        Madera
                    </div>
                </div>
                <div *ngIf="A1 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="A1 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="A1 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="A1 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(2,material)">
                <div *ngIf="A2 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="A2 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="A2 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="A2 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="A2 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(3,material)">
                <div *ngIf="A3 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="A3 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="A3 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="A3 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="A3 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(4,material)">
                <div *ngIf="A4 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="A4 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="A4 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="A4 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="A4 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 h-col center borde" (click)="onclick(5,material)">
                <div *ngIf="B1 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="B1 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="B1 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="B1 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="B1 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(6,material)">
                <div *ngIf="B2 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="B2 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="B2 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="B2 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="B2 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(7,material)">
                <div *ngIf="B3 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="B3 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="B3 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="B3 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="B3 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(8,material)">
                <div *ngIf="B4 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="B4 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="B4 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="B4 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="B4 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 h-col center borde" (click)="onclick(9,material)">
                <div *ngIf="C1 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="C1 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="C1 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="C1 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="C1 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(10,material)">
                <div *ngIf="C2 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="C2 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="C2 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="C2 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="C2 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(11,material)">
                <div *ngIf="C3 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="C3 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="C3 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="C3 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="C3 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(12,material)">
                <div *ngIf="C4 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="C4 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="C4 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="C4 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="C4 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 h-col center borde" (click)="onclick(13,material)">
                <div *ngIf="D1 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="D1 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="D1 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="D1 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="D1 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(14,material)">
                <div *ngIf="D2 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="D2 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="D2 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="D2 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="D2 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(15,material)">
                <div *ngIf="D3 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="D3 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="D3 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="D3 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="D3 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
            <div class="col-3 h-col center borde" (click)="onclick(16,material)">
                <div *ngIf="D4 == 1" style="background-color: chocolate;">
                    <div class="bg-green h-30">
                        Madera
                    </div>
                </div>
                <div *ngIf="D4 == 2" style="background-color: yellow;">
                    <div class="bg-green h-30">
                        Trigo
                    </div>
                </div>
                <div *ngIf="D4 == 3" style="background-color: red;">
                    <div class="bg-green h-30">
                        Ladrillo
                    </div>
                </div>
                <div *ngIf="D4 == 4" style="background-color: aqua;">
                    <div class="bg-green h-30">
                        Vidrio
                    </div>
                </div>
                <div *ngIf="D4 == 5" style="background-color: gray;">
                    <div class="bg-green h-30">
                        Piedra
                    </div>
                </div>
            </div>
        </div>
    </div>









   <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
        viewBox="0 0 2611.084 485.677">
        <path id="Path_39" data-name="Path 39"
            d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
            transform="translate(142.69 -634.312)" fill="#eee" />
    </svg> 
</div>
</div>