/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.popover {
  .popover-header {
    text-align: center !important;

  }

  .popover-body {
    text-align: justify !important;

  }
}

.modal-content {
  background-color: rgba(500, 500, 500, 0.5) !important;
}

.modal-header {
  background-color: rgba(500, 500, 500, 1) !important;

}

.modal-footer {
  background-color: rgba(500, 500, 500, 1) !important;

}
